.footer {
  background-color: rgba(65, 25, 127, 1);
  bottom: 0;
  display: flex;
  height: 3.25em;
  justify-content: space-around;
  position: fixed;
  width: 100%;
}

.link-drinks {
  align-self: center;
  background-color: rgb(252, 196, 54);
  border-radius: 2px;
  padding: 2px;
}

.link-meals {
  align-self: center;
  background-color: rgb(252, 196, 54);
  border-radius: 2px;
  padding: 2px;
}
