* {
  font-size: 12px;
  padding: 0;
}

body {
  min-height: 100vh;
}

img {
  max-width: 200px;
}
.btn_start_recipe {
  bottom: 0;
  position: fixed;
}

.carouselLink {
  max-width: 190px;
}

.search_img {
  max-width: 190px;
}
